@using Rentacar.Data.Models
@{
    ViewData["Title"] = "GetNovosti";
    var lista = (List<Notifikacije>)ViewData["NotifikacijeVD"];
    //var lista2 = (List<Notifikacije>)ViewBag.NovostiVB;
}

<h2>GetNovosti</h2>
@foreach (var x in lista)
{
    <h1>@x.Naslov</h1>
    <p>@x.Sadrzaj</p>
    <div>@x.Datum_i_vrijeme_objave</div>
}
<div>
</div>