@model Rentacar.Web.ViewModels.AutentifikacijaVM
@{
    ViewData["Title"] = "Autentifikacija";
    string error_poruka = (string)ViewData["error_poruka"];
    Layout = "_LayoutAutentifikacija";
}

<div class="col-md-4 col-md-offset-4">
    <h2>Rent-a-Car</h2>

    <form asp-action="Autentifikacija">

           <div class="form-group">
               <label>Korisničko ime:</label>
               <div>
                   <input asp-for="korisnicko_ime" class="form-control" />
                   <span asp-validation-for="korisnicko_ime" class="text-danger"></span>
               </div>
           </div>
           <div class="form-group">
               <label>Lozinka: </label>
               <div>
                   <input asp-for="lozinka" class="form-control" />
                   <span asp-validation-for="lozinka" class="text-danger"></span>
               </div>
           </div>

           <input type="submit" class="form-control btn btn-primary" value="Uloguj se" />
           
</form>

@if (error_poruka != null)
{
    <br />
    <div class="alert alert-danger">
        @error_poruka
    </div>
}


