
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<br />
@Html.ActionLink("TestDB", "Index", "TestDB")
<br />
@Html.ActionLink("GetNovosti", "Index", "Novosti")
<br />
@Html.ActionLink("Vijesti", "Index", "Vijesti")
<br />
@Html.ActionLink("Registruj se", "Register", "Korisnik")