<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <h2>Rent-a-car</h2>
        <img src="~/images/homepage.png" style="width: 100%; height: auto;" />
        <br /><br />
            <p>
                Nudimo širok raspon kategorija automobila, uključujući ekonomične modele, SUV, karavan i putničke kombije.
                Dostupan je i niz dodataka poput dodatne zaštite, GPS-a i dječjih sjedala.
                SUV je odličan izbor za posjetu Sarajevu, posebno zimi.
                Kakav god bio razlog da ste posjetili Bosnu i Hercegovinu, možete računati na Rent-a-car.
            </p>
    </div>
</div>
